/* #wrapper { */
/* 	background:red; */
/* 	width: 80%; */
/* 	margin-left:10%; */
/* 	margin-rgiht:10% */
/* } */
h1 {
  font-size: 17px; }

body {
  color: #484a4c;
  background: #eeeeee; }

#wrapper {
  font-size: 16px;
  margin: 0 auto;
  padding: 35px 0 0;
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background: white; }

#content {
  padding-left: 19px;
  padding-right: 19px; }

#skip-to-content {
  clip: rect(0px, 0px, 0px, 0px);
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100; }

#skip-to-content:focus, #skip-to-content:hover {
  background: none repeat scroll 0 0 #4497d1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  clip: inherit;
  color: #ff6;
  outline: 0 none;
  padding: 0.5em 0.75em; }

/* ------------------------ heading --------------------------------  */
#heading {
  margin-left: 20px; }

#heading .site-title {
  margin: 0 0 0.25em; }

#heading .site-title .logo img {
  height: 60px;
  width: auto; }

#heading .page-title {
  font-size: 100%;
  margin: 0 0 20px; }

#sign-in {
  background: none repeat scroll 0 0 #2cabe2;
  color: #fff;
  font-size: 12px;
  padding: 2px 20px;
  position: absolute;
  right: 20px;
  text-decoration: none;
  top: 100px; }

#sign-in:focus, #sign-in:hover {
  background: none repeat scroll 0 0 #f8f8f8;
  color: #908e91; }

/*  -------------------------- navigation -----------------------------  */
#navigation {
  position: relative;
  z-index: 3; }

#navigation h1 {
  clip: rect(0px, 0px, 0px, 0px);
  margin: 0;
  position: absolute; }

#navigation ul {
  border-collapse: collapse;
  display: table;
  margin: 0;
  width: 100%; }

#navigation ul li ul {
  display: none; }

#navigation li {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #e2e3e3;
  border-image: none;
  border-style: solid;
  border-width: 0 1px;
  display: table-cell;
  width: 33.333%; }

#navigation li:first-child {
  border-left-width: 0; }

#navigation li:last-child {
  border-right-width: 0; }

#navigation li.selected a {
  background: none repeat scroll 0 0 #2cabe2;
  color: #fff; }

#navigation a {
  background: none repeat scroll 0 0 #f8f8f8;
  color: #908e91;
  display: block;
  font-size: 12px;
  font-weight: bold;
  outline: 0 none;
  overflow: hidden;
  padding: 0.3125em 0;
  text-align: center;
  text-decoration: none; }

#navigation a:focus, #navigation a:hover {
  background: none repeat scroll 0 0 #2cabe2;
  color: #fff; }

#navigation a.selected:focus, #navigation a.selected:hover {
  color: #ff0; }

/* -------------------------- footer ---------------------------------  */
#footer {
  border-collapse: collapse;
  display: table;
  margin: 0;
  width: 100%; }

#footer div {
  border: 1px solid #bfbfbf;
  display: table-cell;
  height: 74px;
  width: 33.333%;
  padding: 19px;
  background: 5566bb; }

#footer div.column-1 {
  border-left: 0 none; }

#footer div.column-3 {
  border-right: 0 none; }

#footer h3 {
  font-size: 13px;
  margin-top: 7px; }

#footer a {
  bottom: 10px;
  color: #484a4c;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  text-decoration: none; }

#footer a:hover {
  color: #2cabe2; }

#footer:after {
  clear: both;
  content: ""; }

#footer .footer-column-content {
  border-width: 0;
  display: block;
  margin: 10px auto;
  position: relative;
  width: 200px; }

#footer .footer-box {
  border-width: 0;
  padding-left: 10px; }

#footer #getting-started .footer-logo, #footer #ide .footer-logo, #footer
#social-office .footer-logo {
  background-image: url("../images/custom/footer_sprite.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 76px;
  width: 76px; }

#footer #ide .footer-logo {
  background-position: -76px center; }

#footer #social-office .footer-logo {
  background-position: -152px center; }

.ie6 #skip-to-content {
  position: absolute; }

.ie6 .signed-out #navigation {
  display: block; }

.ie6 #footer .footer-box {
  width: 114px; }

.ie7 #footer .footer-column-content {
  height: 90px; }

.ie7 #footer div.column-1, .ie7 #footer div.column-2, .ie7 #footer div.column-3 {
  height: 100px; }

.ie6 #footer div.column-1, .ie6 #footer div.column-2, .ie6 #footer div.column-3, .ie6 #navigation li, .ie7 #footer div.column-1, .ie7 #footer div.column-2, .ie7 #footer div.column-3, .ie7 #navigation li {
  float: left;
  width: 231px; }

/* -------------------------- portlet --------------------------------  */
.freeform .portlet {
  margin-bottom: 0; }

body.portlet {
  border: medium none; }

.portlet-topper {
  position: relative; }

.portlet-title {
  display: block;
  font-size: 1em;
  margin: 0; }

.portlet-title img {
  vertical-align: middle; }

.portlet-title-text {
  cursor: pointer; }

.panel-page-content .portlet-title-text, .panel-page-body .portlet-title-text {
  cursor: auto; }

.portlet-topper-toolbar {
  margin: 0;
  padding: 2px;
  position: absolute;
  right: 3px;
  text-align: right;
  top: 3px; }

.portlet-topper-toolbar .nobr {
  display: block;
  float: left;
  padding: 1px; }

.portlet-content, .portlet-minimized .portlet-content-container {
  padding: 12px 10px 10px; }

.portlet-minimized .portlet-content {
  padding: 0; }

.portlet-icon-back {
  background: url("../images/arrows/01_left.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  font-weight: bold;
  padding: 5px 5px 5px 18px; }

.portlet-nested-portlets .portlet-boundary {
  left: 0 !important;
  position: relative !important;
  top: 0 !important; }

.portlet-borderless-container {
  min-height: 2.5em;
  position: relative; }

.portlet-borderless-bar {
  background: none repeat scroll 0 0 #333;
  color: #fff;
  font-size: 10px;
  opacity: 0.3;
  padding: 2px 5px 1px;
  position: absolute;
  right: 0;
  text-shadow: -1px -1px black;
  top: 0;
  z-index: 200; }

.portlet-borderless-bar a {
  background: url("") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  color: #3af;
  display: inline-block;
  height: 16px;
  margin-left: 5px;
  text-indent: -9999px;
  vertical-align: top;
  width: 16px; }

.portlet-borderless-bar .portlet-actions {
  display: none;
  float: left;
  margin-right: 20px; }

.portlet-borderless-bar .portlet-title-default, .portlet-borderless-bar .portlet-actions {
  min-height: 20px;
  vertical-align: top; }

.portlet-borderless-bar .portlet-action-separator {
  display: none; }

.portlet-borderless-bar .portlet-back a {
  height: auto;
  text-indent: 0;
  width: auto; }

.portlet-borderless-bar .portlet-close a {
  background-image: url("../images/portlet/close_borderless.png"); }

.portlet-borderless-bar .portlet-options li.lfr-trigger strong a {
  background-image: url("../images/portlet/options_borderless.png"); }

.portlet-borderless-container:hover .portlet-borderless-bar {
  opacity: 1; }

.portlet-borderless-container:hover .portlet-borderless-bar .portlet-actions {
  display: inline; }

.portlet-title-default {
  display: inline-block;
  float: right;
  font-weight: bold;
  text-transform: uppercase; }

.portlet-draggable .portlet-topper {
  cursor: move; }

.portlet-draggable .portlet-title-default {
  background: url("../images/portlet/draggable_borderless.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  cursor: move;
  padding-left: 20px; }

.lfr-panel-page {
  width: 100%; }

.lfr-panel-page .portlet-title {
  font-size: 13px; }

.lfr-panel-page .lfr-add-content h2 span {
  background-color: #d3dadd; }

.portlet-msg, .portlet-msg-info, .portlet-msg-help, .lfr-message-help, .portlet-msg-progress, .lfr-message-progress, .lfr-message-info, .portlet-msg-error, .lfr-message-error, .portlet-msg-alert, .lfr-message-alert, .portlet-msg-success, .lfr-message-success {
  background: none no-repeat scroll 6px 50% #eee;
  border: 1px solid #555;
  color: #34404f;
  display: block;
  font-weight: bold;
  margin: 2px auto 14px;
  padding: 6px 6px 6px 30px;
  text-align: left; }

.portlet-msg-info, .portlet-msg-help, .lfr-message-help, .portlet-msg-progress, .lfr-message-progress, .lfr-message-info {
  background-color: #dff4ff;
  background-image: url("../images/messages/info.png");
  border-color: #a7cedf; }

.portlet-msg-help, .lfr-message-help {
  background-image: url("../images/portlet/help.png"); }

.portlet-msg-progress, .lfr-message-progress {
  background-image: url("../images/aui/loading_indicator.gif"); }

.portlet-msg-error, .lfr-message-error {
  background-color: #fdd;
  background-image: url("../images/messages/error.png");
  border-color: #f00; }

.portlet-msg-alert, .lfr-message-alert {
  background-color: #ffc;
  background-image: url("../images/messages/alert.png");
  background-position: 6px 20%;
  border-color: #fc0; }

.portlet-msg-success, .lfr-message-success {
  background-color: #f4fdef;
  background-image: url("../images/messages/success.png");
  border-color: #acdfa7;
  color: #384f34; }

.portlet-msg-alert-label, .portlet-msg-error-label, .portlet-msg-info-label, .portlet-msg-progress-label, .portlet-msg-success-label {
  background: none no-repeat scroll 0 50% rgba(0, 0, 0, 0);
  font-weight: bold;
  padding: 3px 3px 3px 20px; }

.portlet-msg-alert-label {
  background-image: url("../images/messages/alert.png");
  color: #663; }

.portlet-msg-error-label {
  background-image: url("../images/messages/error.png");
  color: #900; }

.portlet-msg-info-label, .portlet-msg-help-label, .portlet-msg-progress-label {
  background-image: url("../images/messages/info.png");
  color: #34404f; }

.portlet-msg-help-label {
  background-image: url("../images/portlet/help.png"); }

.portlet-msg-progress-label {
  background-image: url("../images/aui/loading_indicator.gif"); }

.portlet-msg-success-label {
  background-image: url("../images/messages/success.png");
  color: #384f34; }

.lfr-message-content, .lfr-message-info, .lfr-message-help, .lfr-message-error, .lfr-message-alert, .lfr-message-success {
  border-left-width: 0;
  border-right-width: 0; }

.lfr-message {
  position: relative; }

.lfr-message .lfr-message-control {
  background-color: #333;
  display: inline-block; }

.lfr-message .lfr-message-controls {
  display: none;
  left: 3px;
  margin: -8px 8px 0 3px;
  position: absolute;
  top: 50%;
  z-index: 10; }

.lfr-message .lfr-message-close {
  background-image: url("../images/portlet/close_borderless.png");
  background-position: 0 0;
  background-repeat: no-repeat; }

.lfr-message .lfr-message-close-all {
  color: #fff;
  display: none;
  font-size: 0.8em;
  margin-left: 10px;
  padding: 1px 10px;
  text-shadow: 1px 1px 0 #000;
  vertical-align: top; }

.lfr-message .lfr-message-close-all a {
  color: #fff; }

.lfr-message .lfr-message-controls-hover .lfr-message-close-all {
  display: inline-block; }

.lfr-message.pending {
  background-image: url("../images/common/time.png"); }

.lfr-message-dismissible.lfr-message-hover .lfr-message-content {
  background-image: none; }

.lfr-message-dismissible.lfr-message-hover .lfr-message-controls {
  display: block; }

.lfr-message-trigger, .lfr-message-close {
  cursor: pointer; }

.portlet-section-selected, .portlet-section-selected a {
  background: none repeat scroll 0 0 #727c81;
  color: #fff;
  font-weight: bold;
  text-decoration: none; }

.portlet-section-selected a:hover, .portlet-section-selected a:focus {
  background-color: #727c81; }

.restricted, .restricted td {
  background: none repeat scroll 0 0 #fdd;
  border: medium none; }

.restricted * {
  color: #727c81; }

.alt.restricted td {
  background-color: #ffc0c0; }

.hover.restricted td {
  background-color: #d3bdc0; }

.restricted td.col-1, .alt.restricted td.col-1 {
  background-image: url("../images/messages/error.png");
  background-position: 5px 50%;
  background-repeat: no-repeat;
  padding-left: 28px; }

.results-row.lfr-role .col-1, .results-row.hover.lfr-role .col-1 {
  background-image: url("");
  background-position: 5px 50%;
  background-repeat: no-repeat;
  padding-left: 30px; }

.results-row.lfr-role-guest .col-1, .results-row.hover.lfr-role-guest .col-1 {
  background-image: url("../images/common/guest_icon.png"); }

.results-row.lfr-role-regular .col-1, .results-row.hover.lfr-role-regular .col-1 {
  background-image: url("../images/common/user_icon.png"); }

.results-row.lfr-role-site .col-1, .results-row.hover.lfr-role-site .col-1 {
  background-image: url("../images/common/site_icon.png"); }

.results-row.lfr-role-organization .col-1, .results-row.hover.lfr-role-organization .col-1 {
  background-image: url("../images/common/organization_icon.png"); }

.results-row.lfr-role-team .col-1, .results-row.hover.lfr-role-team .col-1 {
  background-image: url("../images/common/team_icon.png"); }

.lfr-portlet-item, .lfr-portlet-item p a {
  font-size: 1em; }

.lfr-actions.lfr-extended, .lfr-actions.lfr-extended ul {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("../images/forms/button.png") repeat-x scroll 0 100% white;
  border-color: #dedede #bfbfbf #bfbfbf #dedede;
  border-image: none;
  border-style: solid;
  border-width: 1px; }

.lfr-actions ul {
  bottom: -1px; }

.lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0); }

.lfr-actions .lfr-trigger li {
  background: none repeat scroll 0 0 transparent;
  border-bottom: 1px solid #dedede;
  padding: 2px; }

.lfr-actions .lfr-trigger li a {
  padding: 5px 10px 5px 25px; }

.lfr-actions .lfr-trigger li a:hover {
  background-color: #828f95;
  color: #fff; }

.lfr-actions .lfr-trigger li img {
  left: 3px;
  position: absolute; }

.lfr-actions .lfr-trigger li.last {
  border-bottom: medium none; }

.lfr-actions.portlet-options {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  float: left; }

.lfr-actions.portlet-options .lfr-trigger {
  padding: 0; }

.lfr-actions.portlet-options .lfr-trigger strong {
  min-width: 0;
  padding: 1px; }

.lfr-actions.portlet-options .lfr-trigger strong a {
  background-image: url("../images/portlet/options.png");
  background-position: 0 0;
  display: block;
  font-size: 0;
  height: 16px;
  padding: 0;
  text-indent: -9999px;
  width: 16px; }

.visible.portlet-options .lfr-trigger strong a {
  background-image: url("../images/portlet/options_selected.png"); }

.breadcrumbs:before, .breadcrumbs:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden; }

.breadcrumbs:after {
  clear: both; }

.breadcrumbs-vertical {
  display: inline-block; }

.breadcrumbs-horizontal li {
  display: inline-block;
  vertical-align: middle; }

.taglib-calendar tr.portlet-section-header th, .taglib-calendar tr td {
  border: medium none; }

.taglib-calendar tr td a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #f0f5f7;
  border-color: #fff #fff -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid solid none none;
  border-width: 1px 1px medium medium;
  display: block;
  height: 15px;
  padding: 5px 0; }

.taglib-calendar tr td a:hover {
  background-color: #727c81;
  color: #fff; }

.taglib-calendar tr td.calendar-inactive {
  background-color: #fff;
  color: #b5bfc4; }

.taglib-calendar tr th {
  border-bottom-color: #d7d7d7; }

.taglib-calendar table td {
  border-width: 0; }

.taglib-calendar .calendar-current-day, .taglib-calendar .calendar-current-day a {
  background-color: #fff; }

.taglib-calendar .calendar-current-day a {
  border: 1px solid #727c81;
  color: #369;
  text-decoration: underline; }

.ie .taglib-calendar tr td.first a {
  border-right: medium none; }

.ie6 .portlet-borderless-bar .portlet-actions, .ie7 .portlet-borderless-bar .portlet-actions {
  margin-left: 20px;
  margin-right: 0; }

.ie6 .portlet-title-default, .ie7 .portlet-title-default {
  float: left; }

.ie6 .breadcrumbs-vertical, .ie6 .breadcrumbs-horizontal li, .ie7 .breadcrumbs-vertical, .ie7 .breadcrumbs-horizontal li {
  display: inline; }

.ie6 .portlet-topper-toolbar .icon {
  height: 16px;
  width: 16px; }

.ie6 .portlet-borderless-container {
  height: 2.5em; }

.ie6 .portlet-borderless-bar .portlet-actions {
  display: inline; }

/* -------------------------- other ----------------------------------  */
#navigation {
  box-shadow: 0 2px 5px #e2e3e3; }

#skip-to-content:focus, #skip-to-content:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 0 1px 50px rgba(0, 0, 0, 0.5); }

/* -------------------------- portlet login --------------------------  */
.portlet-login {
  border-top: 1px solid #bfbfbf;
  font-size: 13px;
  padding-top: 15px; }

.portlet-login a {
  color: #2cabe2;
  font-size: 13px; }

.portlet-login a, .portlet-login .taglib-icon .taglib-text {
  text-decoration: none; }

.portlet-login .aui-form {
  padding-bottom: 15px; }

.portlet-login .navigation {
  padding-bottom: 0; }

.portlet-login .navigation, .portlet-login .portlet-column {
  background: none repeat scroll 0 0 transparent; }

