<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	
	<link href="/welcome-theme/css/js-image-slider.css" rel="stylesheet" type="text/css" />
	
    <script src="/welcome-theme/js/js-image-slider.js" type="text/javascript"></script>
	
	<style type="text/css">
		#wrapper {
			
			background:white url("/welcome-theme/images/custom/left-edge.png") top left repeat-y;

			margin-left: auto;
			margin-right: auto;
			margin-top:20px;
			margin-bottom:0;
			max-width: 1200px;
			padding-top: 0px;
			padding-right: 0px;
			padding-bottom: 0px;
			
			@include respond-to(phone) {
				padding-left: 0.5em;
				padding-right: 0.5em;
			}

			@include respond-to(tablet) {
				padding-left: 2em;
				padding-right: 2em;
				padding-left: 0.5em;
			}
		}
		
		#wrapper-in {
			background:white url("/welcome-theme/images/custom/left-edge.png") top right repeat-y;
			
			margin:0px;
			padding-right: 60px;
			display:table;
		}
		
		.nav-account-controls {
			background: transparent
		}
		
		.navbar {
			height:15px
			width: 50%;
			margin-left:25%;
			margin-right:25%;
			margin-top: 0px;
			
		}
		
		.aui .site-navigation {
			margin-bottom: 0;
		}
		
		.aui #navigation .nav li.active > a {
			background: transparent
		}
		
		.aui #navigation .nav li.active > a {
			text-decoration: underline;
		}
		

		.aui #navigation .nav > .active > a {
			background: transparent
		}
		

		
		.aui #navigation .navbar-inner {
			background: transparent;
			border-width: 0;
			height:100%
		}
		
		#breadcrumbs {
			background-color:#d3d3d3
		}
		
		.breadcrumb {
			background-color:#d3d3d3
		}
		
		.aui body  {
			background: #eee
		}
		
		#top-header{
			position:fixed;
			top:0px;
			width:100%; 
			height:83px; 
			background-color: #2aaae6;
			z-index:99;
			box-shadow: 0px 5px 7px #555555;
		}
		
		#footer {
			background-color:#2aaae6;
			height:130px;
			width:auto;
			color:white;
			padding: 10px;
			font-size:12px
		}
		
		#footer.navbar {
			height:15px
			width: 50%;
			margin-left:25%;
			margin-right:25%;
			margin-top: 30px;
			
		}
	</style>
</head>



<body class="$css_class">

	<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

	$theme.include($body_top_include)

	
	#dockbar()
	
	<header id="top-header">
		<table cellpadding="10px" style="width:70%">
			<tr>
				<td style="min-width:50px"></td>
				<td  style="font-size:20px; color: white">ΠΛΕΙΑΔΕΣ APPARTEMENTS</td>
				<td style="min-width:50px"></td>
				<td style="font-size:12px; color: white"></td>
				<td style="min-width:50px"></td>				
				<td style="font-size:12px; color: white; background:transparent" ><!--  $theme.runtime("82_INSTANCE_hr2S")  --></td>
			</tr>
		</table>
			

			#if ($has_navigation || $is_signed_in)
				#parse ("$full_templates_path/navigation.vm")
			#end		
	</header>
		
			
			
	<div class="container-fluid" id="wrapper" style="margin-body_bottom_include:0px">
		<div id="wrapper-in" style="margin-body_bottom_include:0px">
	
			<header id="banner" role="banner">
				<div id="heading">
					<h1 class="site-title">
						<a class="$logo_css_class" href="$site_default_url" title="#language_format ("go-to-x", [$site_name])">
							<img alt="$logo_description" height="$site_logo_height" src="$site_logo" width="$site_logo_width" />
							#if ($show_site_name)
								<span class="site-name" title="#language_format ("go-to-x", [$site_name])">
									$site_name
								</span>
							#end
						</a>
					</h1>
					
					<h2 class="page-title">
						<span>$the_title</span>
					</h2>
				</div>
				
				
				<div id="sliderFrame">
					<div id="slider">
						<img src="/welcome-theme/images/custom/pleiades-front-1_b11.jpg" alt="Image 1" width:"100%" />
						<img src="/welcome-theme/images/custom/boudari-hotel.jpg" alt="Image 1"  width:"1100px" />
						<img src="/welcome-theme/images/custom/01.jpg" alt="Image 1"  width:"1100px" />
					</div>
					
					<div id="htmlcaption" style="display: none;">
						<em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
					</div>
				</div>
			</header>
			

			
			<div id="content">
				<nav id="breadcrumbs">#breadcrumbs()</nav>

				#if ($selectable)
					$theme.include($content_include)
				#else
					$portletDisplay.recycle()

					$portletDisplay.setTitle($the_title)

					$theme.wrapPortlet("portlet.vm", $content_include)
				#end
			</div>


		</div>
	</div>



	<footer id="footer" role="contentinfo">
		#if ($has_navigation || $is_signed_in)
			<div style="text-align:center">
				#parse ("$full_templates_path/navigation.vm")
			</div>
		#end
		<div style="color:white;text-align:center; margin-top:15px">
			<span style="font-size:20px">PLEADES APPARTEMENTS</span><br>
		</div>
		<div style="color:white;text-align:center; margin-top:2px">
			<span style="font-size:15px;">Kalami - Paros</span>
		</div>		
		<div style="color:white;text-align:center; margin-top:2px">
			<span style="font-size:12px;">Tel: &nbsp;  +30 228421795,&nbsp;&nbsp;  +30 2294081500,&nbsp;&nbsp;  Email:&nbsp; vaxatz@otenet.gr </span>
		</div>			
		<p class="powered-by">
			#language ("powered-by") Theodoros Stroh
			<!-- #language ("powered-by") <a href="http://www.liferay.com" rel="external">Liferay</a> -->
		</p>
	</footer>



	$theme.include($body_bottom_include)

	$theme.include($bottom_include)

</body>

</html>